<ul>
    <div *ngFor="let item of items">
        <a routerLink="/produit/{{ item.id }}"></a>
    </div>
    <div class="row">
        <div *ngFor="let item of items" class="card col-2 m-2">
            <img src="{{item.picture}}" class="card-img-top" alt="Image de l'article">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
                <h5 class="card-title">{{item.label}}</h5>
                <p class="card-text">{{item.category}}</p>
                  <a routerLink="/produit/{{item.id}}" class="btn btn-primary btn-sm">Plus d'info...</a>
                  <button class="btn btn-primary btn-sm btn-space" (click)="modifyItem(item.id);">Modifier</button>
                  <button class="btn btn-danger btn-sm " (click)="deleteItem(item.id);">Supprimer</button>
            </div>
        </div>
    </div>
</ul>
