<h1>{{this.listName}}</h1>
<div *ngIf="this.items.length > 0 else elseBlock">
    <div class="row">

        <div *ngFor="let item of items" class="card col-2 m-1">
            <img src="{{item.picture}}" class="card-img-top" alt="Image de l'article">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
                <h5 class="card-title">{{item.label}}</h5>
                <p class="card-text">{{item.category}}</p>
                <a routerLink="/produit/{{item.id}}" class="btn btn-primary">Plus d'info...</a>
                  <a routerLink="item/{{item.id}}" class="btn btn-primary btn-sm btn-space" >Modifier</a>
                  <button class="btn btn-danger btn-sm " (click)="deleteItem(item.id);">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    Aucun produit n'est disponible dans cette catégorie.
</ng-template>