
  <div class="col-4 m-4">
  <div>
    <label for="label">Label</label>
    <input id="label" class="form-control " type="text" [(ngModel)]="label"/>
  </div>
  <div>
    <label for="brand">Brand</label>
    <input id="brand" class="form-control" type="text" [(ngModel)]="brand"/>
  </div>
  <div>
    <label for="price">Price</label>
    <input id="price" class="form-control" type="number" [(ngModel)]="price"/>
  </div>
  <div>
    <label for="picture">Picture</label>
    <input id="picture" class="form-control" type="text"  [(ngModel)]="picture"/>
  </div>
  </div>

